version: "3.8"

services:
  mongodb1:
    image: "mongo:4.2"
    command: ["mongod", "--bind_ip_all", "--replSet", "rs0"]
    volumes:
      - "mongodb-data-01:/data/db"
      - "./mongodb/initdb.d:/docker-entrypoint-initdb.d"
      - "./mongodb/init-replset.js:/init-replset.js"
    restart: "on-failure"

  mongodb2:
    image: "mongo:4.2"
    command: ["mongod", "--bind_ip_all", "--replSet", "rs0"]
    volumes:
      - "mongodb-data-02:/data/db"
    restart: "on-failure"

  mongodb3:
    image: "mongo:4.2"
    command: ["mongod", "--bind_ip_all", "--replSet", "rs0"]
    volumes:
      - "mongodb-data-03:/data/db"
    restart: "on-failure"

  elasticsearch1:
    environment:
      node.name: "elasticsearch1"
      cluster.name: "es-docker-cluster"
      discovery.seed_hosts: "elasticsearch2,elasticsearch3"
      cluster.initial_master_nodes: "elasticsearch1,elasticsearch2,elasticsearch3"
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
    image: "docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - "elasticsearch-data-01:/usr/share/elasticsearch/data"
    restart: "on-failure"

  elasticsearch2:
    environment:
      node.name: "elasticsearch2"
      cluster.name: "es-docker-cluster"
      discovery.seed_hosts: "elasticsearch1,elasticsearch3"
      cluster.initial_master_nodes: "elasticsearch1,elasticsearch2,elasticsearch3"
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
    image: "docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - "elasticsearch-data-02:/usr/share/elasticsearch/data"
    restart: "on-failure"

  elasticsearch3:
    environment:
      node.name: "elasticsearch3"
      cluster.name: "es-docker-cluster"
      discovery.seed_hosts: "elasticsearch1,elasticsearch2"
      cluster.initial_master_nodes: "elasticsearch1,elasticsearch2,elasticsearch3"
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
    image: "docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - "elasticsearch-data-03:/usr/share/elasticsearch/data"
    restart: "on-failure"

  graylog1:
    image: graylog/graylog:4.2
    depends_on:
      - mongodb1
      - elasticsearch1
      - elasticsearch2
      - elasticsearch3
    entrypoint: "/docker-entrypoint.sh"
    environment:
      GRAYLOG_PASSWORD_SECRET: "${GRAYLOG_PASSWORD_SECRET:?Please configure GRAYLOG_PASSWORD_SECRET in the .env file}"
      GRAYLOG_ROOT_PASSWORD_SHA2: "${GRAYLOG_ROOT_PASSWORD_SHA2:?Please configure GRAYLOG_ROOT_PASSWORD_SHA2 in the .env file}"
      GRAYLOG_HTTP_EXTERNAL_URI: "http://127.0.0.1:9000/"
      GRAYLOG_ELASTICSEARCH_HOSTS: "http://elasticsearch1:9200,http://elasticsearch2:9201,http://elasticsearch3:9202"
      GRAYLOG_MONGODB_URI: "mongodb://mongodb1:27017,mongodb2:27017,mongodb3:27017/graylog"
    ports:
      - 9000:9000        # Graylog web interface and REST API
      - 1514:1514        # Syslog TCP
      - 1514:1514/udp    # Syslog UDP
      - 12201:12201      # GELF TCP
      - 12201:12201/udp  # GELF UDP
    restart: "on-failure"

  graylog2:
    image: graylog/graylog:4.2
    depends_on:
      - mongodb1
      - elasticsearch1
      - elasticsearch2
      - elasticsearch3
    entrypoint: "/docker-entrypoint.sh"
    environment:
      GRAYLOG_IS_MASTER: "false"
      GRAYLOG_PASSWORD_SECRET: ${GRAYLOG_PASSWORD_SECRET:?Please configure GRAYLOG_PASSWORD_SECRET in the .env file}
      GRAYLOG_ROOT_PASSWORD_SHA2: ${GRAYLOG_ROOT_PASSWORD_SHA2:?Please configure GRAYLOG_ROOT_PASSWORD_SHA2 in the .env file}
      GRAYLOG_HTTP_EXTERNAL_URI: http://127.0.0.1:9000/
      GRAYLOG_HTTP_BIND_ADDRESS: 0.0.0.0:9001
      GRAYLOG_ELASTICSEARCH_HOSTS: http://elasticsearch1:9200,http://elasticsearch2:9201,http://elasticsearch3:9202
      GRAYLOG_MONGODB_URI: "mongodb://mongodb1:27017,mongodb2:27017,mongodb3:27017/graylog"
    ports:
      - 9001:9001         # Graylog web interface and REST API
      - 1515:1514         # Syslog TCP
      - 1515:1514/udp     # Syslog UDP
      - 12202:12201       # GELF TCP
      - 12202:12201/udp   # GELF UDP
    restart: "on-failure"

  graylog3:
    image: graylog/graylog:4.2
    depends_on:
      - mongodb1
      - elasticsearch1
      - elasticsearch2
      - elasticsearch3
    entrypoint: "/docker-entrypoint.sh"
    environment:
      GRAYLOG_IS_MASTER: "false"
      GRAYLOG_PASSWORD_SECRET: ${GRAYLOG_PASSWORD_SECRET:?Please configure GRAYLOG_PASSWORD_SECRET in the .env file}
      GRAYLOG_ROOT_PASSWORD_SHA2: ${GRAYLOG_ROOT_PASSWORD_SHA2:?Please configure GRAYLOG_ROOT_PASSWORD_SHA2 in the .env file}
      GRAYLOG_HTTP_EXTERNAL_URI: "http://127.0.0.1:9000/"
      GRAYLOG_HTTP_BIND_ADDRESS: "0.0.0.0:9002"
      GRAYLOG_ELASTICSEARCH_HOSTS: "http://elasticsearch1:9200,http://elasticsearch2:9201,http://elasticsearch3:9202"
      GRAYLOG_MONGODB_URI: "mongodb://mongodb1:27017,mongodb2:27017,mongodb3:27017/graylog"
    ports:
      - "9002:9002"       # Graylog web interface and REST API
      - "1516:1514"       # Syslog TCP
      - "1516:1514/udp"   # Syslog UDP
      - "12203:12201"     # GELF TCP
      - "12203:12201/udp" # GELF UDP
    restart: "on-failure"

volumes:
  mongodb-data-01:
  mongodb-data-02:
  mongodb-data-03:
  elasticsearch-data-01:
  elasticsearch-data-02:
  elasticsearch-data-03:
